Repository frequenz-floss/frequenz-quantities-python, pull requests merged in 2024-10, with the labels that each got.

#21 Update files based on repo-config v0.10 templates
  .github/workflows/ci.yaml
  pyproject.toml
Labels: part:tooling, type:tech-debt

#23 Add Reactive and Apparent power quantities
  RELEASE_NOTES.md
  src/frequenz/quantities/__init__.py
  src/frequenz/quantities/_apparent_power.py
  src/frequenz/quantities/_reactive_power.py
  tests/test_quantities.py
Labels: part:docs, part:tests, type:enhancement, part:code

#24 Add marshmallow helpers
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/quantities/__init__.py
  src/frequenz/quantities/marshmallow.py
  tests/test_marshmallow.py
Labels: part:docs, part:tests, part:tooling, part:code
